header
    nav
        ul
            li
                a(href="/products") Lista productos
            li
                a(href="/products/create") Crear producto
            li
                a(href="contact") Contact